
{% extends 'layouts/layout.html' %}

{% block title %}
Analysis
{% endblock %}
{% block head %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@300&display=swap" rel="stylesheet">
        
    <link rel="stylesheet" href="/static/css/analysis.css">


{% endblock %}


{% block content %}


<div class="menu">
    <h1> Further Data Analysis </h1>

    <a href="/overall">How have the genres performed over time</a>
    <a href="/specific"> Oscar success and critical acclaim ( Correlation analysis ) </a>
    <a href="/search"> Independent Movies vs Major studios </a>
    <a href="/analysis"> Diversity of nominees and winners </a>
    
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>

{% endblock %}
