{% extends 'layouts/layout.html' %}

{% block title %}
Home
{% endblock %}
{% block head %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href='https://fonts.googleapis.com/css?family=Limelight' rel='stylesheet'>

    <link rel="stylesheet" href="/static/css/homePage.css">


{% endblock %}


{% block content %}

     
    <div class="menu">
        <h1>Who Will Win Oscars</h1>
            
        <a href="/overall">Oscars in Numbers and Charts</a>
        <a href="/specific">Oscars for each year</a>
        <a href="/search">Find Movies</a>
        <a href="/similarity">How Similar are two Movies?</a>
        <a href="/analysis"> Advanced Data Analysis.</a>
        <a href="/prediction">Find our prediction for Oscar 2024</a>
        <a href="/social-commentary-score">See our diversity and social commentary scores for any movie</a>
    
    </div>
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    
    

    <script src="/static/script/homePage.js"></script>

{% endblock %}
    

    
