<!DOCTYPE html>
<html>
    <head>
        <title>VISUALIZE</title>
        <link rel="stylesheet" href="/static/css/overall.css">

    </head>
    <body>

        <div>
            <h1 id="whoWon">Who Won the Oscar in </h1>
            <select id="oscar_winner_date">
                <option value=" "> </option>
                {% for value in range %}
                    <option value="{{ value }}">{{ value }}</option>
                {% endfor %}
            </select>
            
            <p> for </p>

            <select id="oscar_winner_category">
                <option value=" "> </option>
                {% for category in categories %}
                    <option value="{{ category }}">{{ category }}</option>
                {% endfor %}
            </select>
            
            <div id="winnerdata">

            </div>

           
            <div id = "winner">
                <div class="movie-card">
                    <img src="https://image.tmdb.org/t/p/original" alt="Movie Poster" class="movie-poster">
                    <div class="movie-details">
                        <h2 class="movie-title"></h2>
                        <p class="movie-genre"></p>
                        <p class="movie-rating"></p>
                        <p class="movie-description"></p>
                    </div>
                </div>
            </div>
        
            

        </div>

        <div>
            <h1>Overall nominations in oscar</h1>
            <p> for </p>

            <select id="oscar_nomination_category">
                <option value=" "> </option>
                {% for category in categories %}
                    <option value="{{ category }}">{{ category }}</option>
                {% endfor %}
            </select>
            <br><br>
            <div style="width: 1200px; height: 900px;">
                <canvas id="myChart"></canvas>
            </div>

        </div>

        <div>
            
            <h1>best rated oscar movie.</h1>
            
            <input class="radio" type="radio" name="rated" value="Winner" checked="checked">Winners<br>
            <input class="radio" type="radio" name="rated" value="Nominee">Nominees<br>
            
            <div class = "chart" style="width: 1200px; height: 900px;">
                <canvas id="bestRated"></canvas>
            </div>

        </div>

        <div>
            
            <h1> Highest budget for nominees and winners</h1>
            
            <input class="radio" type="radio" name="budget" value="Winner" checked="checked">Winners<br>
            
            <input class="radio" type="radio" name="budget" value="Nominee">Nominees<br>
            
            <div class = "chart" style="width: 1200px; height: 900px;">
                <canvas id="highBudget"></canvas>
            </div>
        </div>

        <div>
            <h1>What genre of movies are the ones most nominated ? </h1>
            <div class = "chart" style="width: 1200px; height: 900px;">
                <canvas id="genreChart"></canvas>
            </div>
        </div>

        <div>
            <h1> Is the oscar winner always the highest rated movie ? </h1>
            <div class = "chart" style="width: 1200px; height: 900px;">
                <canvas id="nominationChart"></canvas>
            </div>
        </div>

        <div>
            <h1>highest box office collection</h1>
            
        </div>

        
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/static/script/overall.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>

        const ctx2 = document.getElementById('genreChart').getContext('2d');

        const chartData2 = JSON.parse('{{ genres | tojson | safe }}');

        const myChart2 = new Chart(ctx2, chartData2);

        // --------------------------------------------------------

        const ctx3 = document.getElementById('nominationChart').getContext('2d');

        const chartData3 = JSON.parse('{{ nomination | tojson | safe }}');

        const myChart3 = new Chart(ctx3, chartData3);


    </script>

    </body>
</html>