{% extends 'layouts/layout.html' %}
{% block title %}
Social Score
{% endblock %}

{% block head %}
         
    <link rel="stylesheet" href="/static/css/socialScore.css">

{% endblock %}

{% block content %}

<div>
    <h1>Get the social commentary and diversity score for a movie</h1>
    <form method="post">
        <label for="movie">Enter a movie:</label>
        <input type="text" id="movie" name="movie">
        <input type="submit" value="Submit">
    </form>

    {% if message1 %}
        <p class ='score'>The Cast Diversity {{ message1 }}</p>
    {% endif %}

    {% if message2 %}
        <p class="commentary">{{ message2 }}</p>
    {% endif %}
    
</div>

{% endblock %}
